<template>
  <div id="wrapper">
    <main>
      <b-card no-body :header="header">
        <b-list-group flush>
          <div v-for="pullRequest of pullRequests.withoutReviewers" v-bind:key="pullRequest.id">
            <PullRequestTile :pullRequest="pullRequest" variant="danger" :hidden="false">
              <font-awesome-icon icon="eye-slash" title="Hide" class="align-right" @click.stop="hide(pullRequest)" />
            </PullRequestTile>>
          </div>

          <div v-for="pullRequest of pullRequests.withReviewers" v-bind:key="pullRequest.id">
            <PullRequestTile :pullRequest="pullRequest" variant="info" :hidden="false">
              <font-awesome-icon icon="eye-slash" title="Hide" class="align-right" @click.stop="hide(pullRequest)" />
            </PullRequestTile>
          </div>
        </b-list-group>
      </b-card>
      <b-card no-body class="mb-1">
        <b-card-header header-tag="header" class="p-1 mt-5" role="tab">
          <b-button block v-b-toggle.hidden variant="secondary">
            <b-container fluid class="m-0">
              <b-row>
                <b-col align-self="center">
                  Hidden
                </b-col>
                <b-col cols="auto" align-self="end">
                  <font-awesome-icon icon="caret-down" :rotation="!collapseVisibility * 270" />
                </b-col>
              </b-row>
            </b-container>
          </b-button>
        </b-card-header>
        <b-collapse id="hidden" v-model="collapseVisibility">
          <div v-for="pullRequest of pullRequests.hidden" v-bind:key="pullRequest.id">
            <PullRequestTile :pullRequest="pullRequest" variant="secondary" :hidden="false">
              <font-awesome-icon icon="eye" title="Show" class="align-right" @click.stop="show(pullRequest)" />
            </PullRequestTile>
          </div>
        </b-collapse>
      </b-card>
    </main>
  </div>
</template>

<script>
import moment from 'moment';
import pluralize from 'pluralize';
import path from 'path';

import EventBus from '../router/event-bus';
import PullRequestTile from './PullRequestTile.vue';

export default {
  name: 'landing-page',
  components: {
    PullRequestTile,
  },
  data() {
    return {
      polling: null,
      pullRequests: {
        withoutReviewers: [],
        withReviewers: [],
        hidden: this.$settings.get('hiddenPullRequests'),
      },
      header: null,
      collapseVisibility: true,
    };
  },
  methods: {
    pollData() {
      const promises = [];

      // Get Pull Requests By Project
      this.$settings.get('projects').forEach((project) => {
        promises.push(this.$http
          .get(`/${project}/_apis/git/pullrequests`, {
            auth: {
              username: this.$settings.get('token'),
            },
          }));
      });

      Promise.all(promises)
        .finally(() => {
          EventBus.$emit('loading', false);
        })
        .then((responses) => {
          EventBus.$emit('error', null);

          const pullRequests =
            responses
              .map(response => response.data.value)
              .reduce((prev, curr) => prev.concat(curr))
              .sort((a, b) => a.pullRequestId - b.pullRequestId);

          this.pullRequests.hidden = pullRequests.filter(pullRequest =>
            this.pullRequests.hidden.findIndex(element =>
              element.pullRequestId === pullRequest.pullRequestId) > -1);

          // 'isContainer' means it's a default reviewer
          this.pullRequests.withoutReviewers = pullRequests.filter(pullRequest =>
            pullRequest.reviewers.length === 0 ||
            pullRequest.reviewers.every(reviewer => reviewer.isContainer))
            .filter(pullRequest => this.pullRequests.hidden.findIndex(element =>
              element.pullRequestId === pullRequest.pullRequestId) === -1);

          this.pullRequests.withReviewers = pullRequests.filter(pullRequest =>
            !this.pullRequests.withoutReviewers.some(pullRequestWithoutReviewers =>
              pullRequest.pullRequestId === pullRequestWithoutReviewers.pullRequestId))
            .filter(pullRequest => this.pullRequests.hidden.findIndex(element =>
              element.pullRequestId === pullRequest.pullRequestId) === -1);

          this.header = `Refreshed: ${moment().format('HH:mm:ss')}`;
        })
        .catch((error) => {
          EventBus.$emit('error', error);
        });
    },
    hide(pullRequest) {
      const index = this.pullRequests.hidden.findIndex(element =>
        element.pullRequestId === pullRequest.pullRequestId);

      if (index === -1) {
        this.pullRequests.hidden.push(pullRequest);
        this.$settings.set('hiddenPullRequests', this.pullRequests.hidden);

        this.pollData();
      }
    },
    show(pullRequest) {
      const index = this.pullRequests.hidden.findIndex(element =>
        element.pullRequestId === pullRequest.pullRequestId);

      if (index > -1) {
        this.pullRequests.hidden.splice(index, 1);
        this.$settings.set('hiddenPullRequests', this.pullRequests.hidden);

        this.pollData();
      }
    },
  },
  watch: {
    'pullRequests.withoutReviewers': function (val, oldVal) { // eslint-disable-line
      this.$electron.ipcRenderer.send('update-badge', val.length > 0 ? val.length : null);

      const message = `${val.length} pull ${pluralize('request', val.length)} pending review`;

      const trayOptions = {
        path: path.join(__static, val.length > 0 ? 'logo-warn.png' : 'logo-ok.png'),
        toolTip: `tfs-notifier\nStatus: ${val.length > 0 ? message : 'Ok'}`,
      };

      this.$electron.ipcRenderer.send('update-tray', trayOptions);

      // Notify whenever pull requests without reviewers
      // has actually changed and window is not focused
      const shouldNotify =
        (val
          .map(pullRequest => pullRequest.pullRequestId)
          .filter(pullRequestId => !oldVal
            .map(pullRequest => pullRequest.pullRequestId)
            .includes(pullRequestId)).length > 0) &&
        !this.$electron.remote.getCurrentWindow().isFocused();

      if (shouldNotify) {
        EventBus.$emit('notification', message);
      }
    },
  },
  beforeDestroy() {
    clearInterval(this.polling);
  },
  created() {
    this.pollData();
    this.polling = setInterval(this.pollData, this.$settings.get('refreshInterval') * 1000);
  },
};
</script>

<style scoped>
.align-right {
  position: absolute;
  right: 10px;
}
</style>