<template>
    <div>
        <b-list-group-item class="cursor-pointer" :variant="variant"
            v-on:click="openExternal(pullRequest.repository.project.name, pullRequest.repository.name, pullRequest.pullRequestId)"
            :title="pullRequest.title">
            <slot></slot>
            <div> {{ pullRequest.repository.name }} </div>
            <div> ID: {{ pullRequest.pullRequestId }} </div>
            <div> {{ formatDate(pullRequest.creationDate) }} </div>
            <div> {{ pullRequest.createdBy.displayName }} </div>
            <div v-if="pullRequest.reviewers.length > 0">
                <strong> {{ pluralize('Reviewer', pullRequest.reviewers.length) }}: </strong>
                <div v-for="reviewer of pullRequest.reviewers" v-bind:key="reviewer.id">
                    {{ reviewer.displayName }}
                </div>
            </div>
        </b-list-group-item>
    </div>
</template>

<script>
import pluralize from 'pluralize';
import moment from 'moment';

export default {
  data() {
    return {
      pluralize,
    };
  },
  methods: {
    formatDate(date) {
      return moment(date).format('DD/MM/YY HH:mm:ss');
    },
    openExternal(projectName, repositoryName, pullRequestId) {
      this.$electron.shell.openExternal(`${this.$http.defaults.baseURL
      }/${projectName}/_git/${repositoryName}/pullrequest/${pullRequestId}`);
    },
  },
  props: ['pullRequest', 'variant'],
};
</script>