<template>
  <div id="wrapper">
    <main class="p-3">
      <b-form-checkbox v-model="autoLaunch" switch>Auto Launch</b-form-checkbox>
      <hr>
      <b-form-text>TFS</b-form-text>
      <b-form-input v-model="tfs"/>
      <hr>
      <b-form-text>Organization</b-form-text>
      <b-form-input v-model="organization"/>
      <hr>
      <b-form-text>Projects</b-form-text>
      <b-form-input v-model="projects"/>
      <hr>
      <b-form-text>Token</b-form-text>
      <b-form-input v-model="token"/>
      <hr>
      <b-form-text>Refresh Interval</b-form-text>
      <b-form-select v-model="refreshInterval.value" :options="refreshInterval.options"/>
    </main>
  </div>
</template>

<script>
import EventBus from '../router/event-bus';

export default {
  name: 'settings-page',
  data() {
    return {
      autoLaunch: null,
      tfs: this.$settings.get('tfs'),
      organization: this.$settings.get('organization'),
      projects: this.$settings.get('projects').join(),
      token: this.$settings.get('token'),
      refreshInterval: {
        value: this.$settings.get('refreshInterval'),
        options: [
          { value: 5, text: '5 seconds' },
          { value: 10, text: '10 seconds' },
          { value: 30, text: '30 seconds' },
        ],
      },
    };
  },
  watch: {
    autoLaunch(val, oldVal) {
      if (oldVal === null) {
        return;
      }

      (val ? this.$autoLauncher.enable() : this.$autoLauncher.disable())
        .catch((error) => {
          EventBus.$emit('error', error);
        });
    },
    tfs(val) {
      this.$settings.set('tfs', val);
      this.$http.defaults.baseURL = `${this.$settings.get('tfs')}/${this.$settings.get('organization')}`;
    },
    organization(val) {
      this.$settings.set('organization', val);
      this.$http.defaults.baseURL = `${this.$settings.get('tfs')}/${this.$settings.get('organization')}`;
    },
    projects(val) {
      this.$settings.set('projects', val.split(','));
    },
    token(val) {
      this.$settings.set('token', val);
    },
    'refreshInterval.value': function (val) { // eslint-disable-line
      this.$settings.set('refreshInterval', val);
    },
  },
  beforeCreate() {
    this.$autoLauncher.isEnabled()
      .finally(() => {
        EventBus.$emit('loading', false);
      })
      .then((isEnabled) => {
        this.autoLaunch = isEnabled;
      })
      .catch((error) => {
        EventBus.$emit('error', error);
      });
  },
};
</script>