<template>
  <div id="app" class="main-container">
    <b-container fluid class="m-0">
      <b-row>
        <b-col cols="auto" class="mr-auto" align-content="start">
          <div v-b-tooltip.hover title="Always on top" class="p-2 d-inline-block cursor-pointer" @click="toggle">
            <font-awesome-icon icon="thumbtack" :rotation="rotation"/>
          </div>
        </b-col>
        <b-col cols="auto" align-content="end">
          <div class="p-2 d-inline-block cursor-pointer" @click="$router.push('/')">
            <font-awesome-icon icon="home"/>
          </div>
          <div class="p-2 d-inline-block cursor-pointer" @click="$router.push('settings')">
            <font-awesome-icon icon="cog"/>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <hr>
    <div class="mb-3 ml-3 d-inline-block" v-b-tooltip.bottom.hover :title="error" v-if="error">
      <font-awesome-icon icon="info-circle" class="fa-lg" color="#ff5555" />
    </div>
    <div v-if="loading" class="d-flex justify-content-center">
      <b-spinner type="grow"></b-spinner>
    </div>
    <router-view v-show="!loading"/>
    <footer class="text-center">v{{ version }}</footer>
  </div>
</template>

<script>
import EventBus from './router/event-bus';

export default {
  name: 'tfs-notifier',
  data() {
    return {
      version: this.$electron.remote.app.getVersion(),
      isPinned: null,
      rotation: null,
      loading: true,
      error: null,
    };
  },
  methods: {
    toggle() {
      this.isPinned = !this.isPinned;
      this.$electron.remote.getCurrentWindow().setAlwaysOnTop(this.isPinned);
    },
  },
  watch: {
    isPinned(val) {
      this.rotation = val ? null : 270;
    },
  },
  beforeCreate() {
    EventBus.$on('error', (value) => {
      this.error = value ? value.message : null;
    });

    EventBus.$on('loading', (value) => {
      this.loading = value;
    });

    EventBus.$on('notification', (message) => {
      const notification = new Notification('tfs-notifier', {
        body: message,
      });

      notification.onclick = () => {
        this.$electron.remote.getCurrentWindow().show();
      };
    });
  },
  beforeMount() {
    this.isPinned = this.$electron.remote.getCurrentWindow().isAlwaysOnTop();
  },
};
</script>

<style>
/* CSS */
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
  font-size: 13px;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 30px; /* height of your footer */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}
</style>
